<a href="https://colab.research.google.com/github/DataCraftStudio/Sales-Data-Analysis/blob/main/Bayesian_Network_for_Customer_Behavior.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [6]:
# Import necessary libraries
import pandas as pd

# Load the dataset
data = pd.read_csv('/content/sample_data/superstore.csv')  # یا 'Superstore.csv'

# Display basic information about the dataset
print(data.info())

# Display the first few rows of the dataset
print(data.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9161 entries, 0 to 9160
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9161 non-null   int64
 1   Order ID       9161 non-null   object
 2   Order Date     9161 non-null   object
 3   Ship Date      9161 non-null   object
 4   Ship Mode      9161 non-null   object
 5   Customer ID    9160 non-null   object
 6   Customer Name  9160 non-null   object
 7   Segment        9160 non-null   object
 8   Country        9160 non-null   object
 9   City           9160 non-null   object
 10  State          9160 non-null   object
 11  Postal Code    9154 non-null   float64
 12  Region         9160 non-null   object
 13  Product ID     9160 non-null   object
 14  Category       9160 non-null   object
 15  Sub-Category   9160 non-null   object
 16  Product Name   9160 non-null   object
 17  Sales          9160 non-null   float64
 18  Quantity       9160 non-null   float64
 19  Discount       9160 non-null   float64
 20  Profit         9160 non-null   float64
dtypes: float64(5), int64(1), object(15)
memory usage: 1.5+ MB
None
   Row ID        Order ID  Order Date   Ship Date       Ship Mode Customer ID  \
0       1  CA-2017-152156   11/8/2017  11/11/2017    Second Class    CG-12520
1       2  CA-2017-152156   11/8/2017  11/11/2017    Second Class    CG-12520
2       3  CA-2017-138688   6/12/2017   6/16/2017    Second Class    DV-13045
3       4  US-2016-108966  10/11/2016  10/18/2016  Standard Class    SO-20335
4       5  US-2016-108966  10/11/2016  10/18/2016  Standard Class    SO-20335

     Customer Name    Segment        Country             City  ...  \
0      Claire Gute   Consumer  United States        Henderson  ...
1      Claire Gute   Consumer  United States        Henderson  ...
2  Darrin Van Huff  Corporate  United States      Los Angeles  ...
3   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...
4   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...

  Postal Code  Region       Product ID         Category Sub-Category  \
0     42420.0   South  FUR-BO-10001798        Furniture    Bookcases
1     42420.0   South  FUR-CH-10000454        Furniture       Chairs
2     90036.0    West  OFF-LA-10000240  Office Supplies       Labels
3     33311.0   South  FUR-TA-10000577        Furniture       Tables
4     33311.0   South  OFF-ST-10000760  Office Supplies      Storage

                                        Product Name     Sales  Quantity  \
0                  Bush Somerset Collection Bookcase  261.9600       2.0
1  Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400       3.0
2  Self-Adhesive Address Labels for Typewriters b...   14.6200       2.0
3      Bretford CR4500 Series Slim Rectangular Table  957.5775       5.0
4                     Eldon Fold 'N Roll Cart System   22.3680       2.0

   Discount    Profit
0      0.00   41.9136
1      0.00  219.5820
2      0.00    6.8714
3      0.45 -383.0310
4      0.20    2.5164

[5 rows x 21 columns]